nav {
	border-top-style:solid;
	border-bottom-style:solid;
	background-color:lightblue;
	list-style:none;
}

nav ul {
	display:flex;
	flex-flow:row;
	justify-content:center;
	list-style:none;
	text-decoration:none;
}

nav ul li {
	text-decoration:none;
}

li{
	margin:1em;
	padding:1em;
	list-style:none;
	text-decoration:none;
	width:100%;
	border-style:inset;
	text-align:center;
	background-color:#D41717;
	font-color:white;

}
	
.box_offers {
	display:flex;
	justify-content:center;
	align-items:space-between;
}




form {
	display:flex;
	flex-flow:column;
}

footer {
	display:flex;
	flex-direction:column;
}

.logo img {
            width: 20em;
            height: 20em;
            border-radius: 5px;
            transition: width 2s;
            transition-timing-function:ease-in-out;
        }
.logo img:hover {
            width: 25em;
            height: 25em;
        }